Repository nestjs/docs.nestjs.com, pull requests merged in 2019-08, with the labels that each got.

#559 doc(controllers.md) - edits for clarity on @Res, @Response; mention response handling for primitive types
  content/controllers.md
Labels: content

#233 docs(sample/11) update docs to reflect the changes of the Swagger example
  content/recipes/swagger.md
  src/assets/swagger-response-type.png
Labels: content, type: example

#606 feat(build watch)
  README.md
  nodemon.json
  package-lock.json
  package.json
Labels: type: build

#612 docs(controllers) @Redirect() decorator
  content/controllers.md
Labels: type: feature docs
