Repository nestjs/docs.nestjs.com, pull requests merged in 2019-11, with the labels that each got.

#789 docs(): add ip route param
  content/controllers.md
  content/custom-decorators.md
Labels: content, status: blocked

#433 feat(A11Y): improve a11y on toc component
  src/app/homepage/homepage.component.html
  src/app/shared/components/toc/toc.component.html
  src/app/shared/components/toc/toc.component.ts
  src/styles.scss
Labels: type: improvement

#790 docs(apply decorators)
  content/custom-decorators.md
Labels: content, status: blocked

#718 docs(cache): update the docs to include the @CacheTTL() decorator
  content/techniques/caching.md
Labels: content, type: feature docs

#521 docs(graphql): Passing arguments to subscription filters
  content/graphql/subscriptions.md
Labels: content, type: example
