Repository nestjs/docs.nestjs.com, pull requests merged in 2019-07, with the labels that each got.

#492 Added a recipe of Nestjsx/crud usage
  .gitignore
  content/recipes/crud.md
  src/app/homepage/menu/menu.component.ts
  src/app/homepage/pages/recipes/crud/crud.component.ts
  src/app/homepage/pages/recipes/recipes.module.ts
Labels: content, type: tutorial

#375 docs(intro): update wording, add note about next-nuxt, update seo title
  compiler/markdown-compiler.ts
  content/introduction.md
  package-lock.json
Labels: content

#422 docs(configuration.md) update joi installation command to use new ver…
  content/techniques/configuration.md
Labels: content, type: improvement
