Repository nestjs/docs.nestjs.com, pull requests merged in 2019-10, with the labels that each got.

#740 docs(usages): update command option
  content/cli/usages.md
Labels: content, type: improvement

#735 docs(redis) update redis chapter
  content/microservices/redis.md
Labels: content

#722 docs() update gateways chapter (decorators, minor updates)
  content/websockets/gateways.md
  src/app/homepage/pages/cli/scripts/scripts.component.html
Labels: content, enhancement

#744 docs(CLI) updates
  content/cli/overview.md
  content/cli/workspaces.md
  package-lock.json
Labels: content

#799 docs(terminus): fix bad imports
  content/recipes/terminus.md
Labels: content
