Repository nestjs/docs.nestjs.com, pull requests merged in 2020-03, with the labels that each got.

#1036 docs(microservices): add subscribe option to kafka docs
  content/microservices/kafka.md
Labels: content

#1024 docs(swagger): add docs for enumName
  content/recipes/swagger.md
Labels: content

#1050 import fix for new version of socket.io-redis
  content/websockets/adapter.md
Labels: content

#1043 update techniques/configuration.md
  content/techniques/configuration.md
Labels: content, enhancement, status: blocked

#1073 docs(cli): add doc for `watchAssets` in cli
  content/cli/usages.md
  content/cli/workspaces.md
Labels: content, type: feature docs

#1082 docs(graphql): suggested improvements
  content/graphql/quick-start.md
  content/graphql/resolvers-map.md
Labels: content

#1093 Update hot-reload.md to work with monorepo
  content/recipes/hot-reload.md
Labels: content, type: improvement

#1056 docs(): add polymorphic array swagger example
  content/recipes/swagger.md
Labels: content, type: example

#1103 docs(graphql chapter): suggested updates
  content/graphql/resolvers-map.md
  content/graphql/subscriptions.md
Labels: content

#1119 docs: fix some minor typos
  content/cli/workspaces.md
  content/fundamentals/dependency-injection.md
  content/graphql/resolvers-map.md
  content/microservices/kafka.md
  content/techniques/sql.md
  content/websockets/pipes.md
Labels: content

#1118 docs: add info for gql argumentshost
  content/fundamentals/execution-context.md
Labels: content

#1114 Suggest update in "Object schema validation"
  content/pipes.md
Labels: content, type: improvement
