Repository nestjs/docs.nestjs.com, pull requests merged in 2020-05, with the labels that each got.

#1218 Improve lifecycle's documentation
  content/fundamentals/lifecycle-events.md
Labels: content

#1200 docs(common): add DefaultValuePipe docs
  content/pipes.md
Labels: content, status: blocked

#1243 Changed header css . Show search bar for smaller resolutions . Solved Issue#1182
  src/app/homepage/header/header.component.scss
Labels: enhancement
