Repository nestjs/docs.nestjs.com, pull requests merged in 2020-02, with the labels that each got.

#978 docs(): update wording, add config feature, add warnings
  content/custom-decorators.md
  content/faq/multiple-servers.md
  content/graphql/quick-start.md
  content/graphql/resolvers-map.md
  content/microservices/exception-filters.md
  content/modules.md
  content/recipes/hot-reload.md
  content/recipes/swagger.md
  content/techniques/configuration.md
  content/techniques/serialization.md
  content/websockets/exception-filters.md
  content/websockets/interceptors.md
  content/websockets/pipes.md
  src/app/homepage/pages/recipes/hot-reload/hot-reload.component.html
  src/app/shared/components/toc/toc.component.scss
Labels: content

#965 docs(graphql): update packages info
  content/graphql/quick-start.md
Labels: content

#876 docs(interceptors): Update interceptors.md, extend timeout interceptor
  content/interceptors.md
Labels: content

#1001 docs(): add more docs on typeorm, add sequelize docs
  content/controllers.md
  content/microservices/basics.md
  content/microservices/grpc.md
  content/microservices/kafka.md
  content/microservices/rabbitmq.md
  content/microservices/redis.md
  content/techniques/sql.md
  src/app/homepage/header/header.component.scss
Labels: content

#881 docs(common): typed decorators through generics
  content/custom-decorators.md
Labels: content, status: blocked, type: feature docs

#1012 content(): auth improvements (inheritance, request scoped)
  content/techniques/authentication.md
  content/techniques/task-scheduling.md
Labels: content, enhancement

#1021 docs(swagger): add api extension to swagger docs
  content/recipes/swagger.md
Labels: content
