Repository nestjs/docs.nestjs.com, pull requests merged in 2020-04, with the labels that each got.

#1122 Feature/further clarification shutdown hooks
  content/fundamentals/lifecycle-events.md
Labels: content

#1129 Update components.md (providers)
  content/components.md
Labels: content

#1100 Add migration guide for terminus v7
  content/migration.md
  content/recipes/terminus.md
Labels: content

#1139 Biundo/graphql mapped types
  content/cli/usages.md
  content/cli/workspaces.md
  content/discover/who-uses.json
  content/faq/hybrid-application.md
  content/fundamentals/dependency-injection.md
  content/fundamentals/execution-context.md
  content/graphql/enums.md
  content/graphql/mapped-types.md
  content/graphql/mutations.md
  content/graphql/quick-start.md
  content/graphql/resolvers-map.md
  content/graphql/scalars.md
  content/graphql/schema-generator.md
  content/microservices/kafka.md
  content/microservices/rabbitmq.md
  content/pipes.md
  content/techniques/mongo.md
  content/techniques/sql.md
  content/websockets/pipes.md
  package-lock.json
  package.json
  src/assets/logo/valueadd.png
Labels: content, status: wip

#1121 feat(): add mapped types, inheritance, generator
  content/graphql/cli-plugin.md
  content/graphql/mapped-types.md
  content/graphql/mutations.md
  content/graphql/quick-start.md
  content/graphql/resolvers-map.md
  content/graphql/schema-generator.md
  content/recipes/swagger.md
  src/app/homepage/menu/menu.component.ts
  src/app/homepage/pages/graphql/cli-plugin/cli-plugin.component.ts
  src/app/homepage/pages/graphql/graphql.module.ts
  src/app/homepage/pages/graphql/mapped-types/mapped-types.component.ts
  src/app/homepage/pages/graphql/schema-generator/schema-generator.component.ts
Labels: content, type: feature docs

#1154 docs(readme): Add missing api response decorators
  content/recipes/swagger.md
Labels: content, status: wip

#1125 Add more detail to Fastify compression instructions
  content/techniques/compression.md
Labels: content, status: wip

#1144 docs(graphql): document fieldResolverEnhancers
  content/graphql/guards-interceptors.md
Labels: content

#969 [Refactor] TabsComponent to CodeComponent custom element
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/custom-elements/README.md
  src/app/custom-elements/code/code.component.html
  src/app/custom-elements/code/code.component.scss
  src/app/custom-elements/code/code.component.ts
  src/app/custom-elements/custom-elements.module.ts
  src/app/homepage/pages/cli/cli.module.ts
  src/app/homepage/pages/faq/faq.module.ts
  src/app/homepage/pages/fundamentals/fundamentals.module.ts
  src/app/homepage/pages/graphql/graphql.module.ts
  src/app/homepage/pages/microservices/custom-transport/custom-transport.component.spec.ts
  src/app/homepage/pages/microservices/microservices.module.ts
  src/app/homepage/pages/recipes/recipes.module.ts
  src/app/homepage/pages/techniques/techniques.module.ts
  src/app/homepage/pages/websockets/websockets.module.ts
  src/app/shared/components/tabs/tabs.component.html
  src/app/shared/components/tabs/tabs.component.scss
  src/app/shared/components/tabs/tabs.component.spec.ts
  src/app/shared/components/tabs/tabs.component.ts
  src/app/shared/shared.module.ts
  tools/transforms/content-package/services/renderer/code.renderer.ts
  tools/transforms/shared/utils/markdown-utils.ts
Labels: enhancement

#1167 Update graphql/mapped-types.md
  content/graphql/mapped-types.md
Labels: content

#1179 docs(content): Pluralise class names
  content/microservices/grpc.md
  content/microservices/kafka.md
  content/techniques/authentication.md
  content/techniques/sql.md
Labels: content, enhancement

#1163 docs(@nestjs/graphql): add new type hepler
  content/graphql/mapped-types.md
Labels: content

#1131 OpenAPI 3 Cookie Authentication Support
  content/recipes/swagger.md
Labels: content

#1165 docs(@nestjs/swagger): add new type helper
  content/recipes/swagger.md
Labels: content
