Repository nestjs/docs.nestjs.com, pull requests merged in 2020-01, with the labels that each got.

#910 docs(grpc) edits (WIP)
  content/microservices/grpc.md
Labels: status: wip

#931 docs(cli): Add docs for new generateOptions conf
  content/cli/usages.md
  content/cli/workspaces.md
Labels: content, type: feature docs

#929 docs(common): request lifecycle
  content/faq/request-lifecycle.md
  src/app/homepage/menu/menu.component.ts
  src/app/homepage/pages/faq/faq.module.ts
  src/app/homepage/pages/faq/request-lifecycle/request-lifecycle.component.ts
Labels: content, type: tutorial

#173 docs: add example for mongoose connection injection
  content/techniques/mongo.md
Labels: content, type: example

#938 docs(mongodb): document new functionalities
  content/techniques/mongo.md
Labels: content, type: feature docs

#939 Documentation for expandable variables
  content/techniques/configuration.md
Labels: content, type: feature docs

#737 Sub-Domain Routing documentation
  content/controllers.md
Labels: content, status: blocked, type: feature docs

#761 Add new compagny : fairness.coop
  src/app/homepage/pages/discover/who-uses/who-uses.component.ts
Labels: content

#863 Add creatorsdaily logo to discover page
  content/discover/who-uses.json
  src/app/homepage/pages/discover/who-uses/who-uses.component.ts
Labels: content

#779 docs(config) Updated config - Added usage in main.ts
  content/techniques/configuration.md
Labels: content, type: example

#954 docs(): add execution context docs
  content/exception-filters.md
  content/fundamentals/execution-context.md
  content/guards.md
  content/interceptors.md
  src/app/homepage/menu/menu.component.ts
  src/app/homepage/pages/fundamentals/execution-context/execution-context.component.ts
  src/app/homepage/pages/fundamentals/fundamentals.module.ts
Labels: content

#953 content(): module reference chapter
  content/fundamentals/circular-dependency.md
  content/fundamentals/module-reference.md
  content/fundamentals/unit-testing.md
  src/app/homepage/menu/menu.component.ts
  src/app/homepage/pages/faq/faq.module.ts
  src/app/homepage/pages/fundamentals/fundamentals.module.ts
  src/app/homepage/pages/fundamentals/module-reference/module-reference.component.ts
Labels: content

#891 docs(): microservices chapters improvements
  .gitignore
  content/discover/who-uses.json
  content/microservices/basics.md
  content/microservices/exception-filters.md
  content/microservices/grpc.md
  content/microservices/guards.md
  content/microservices/interceptors.md
  content/microservices/kafka.md
  content/microservices/mqtt.md
  content/microservices/nats.md
  content/microservices/pipes.md
  content/microservices/rabbitmq.md
  content/microservices/redis.md
  src/app/homepage/menu/menu.component.ts
  src/app/homepage/pages/microservices/kafka/kafka.component.ts
  src/app/homepage/pages/microservices/microservices.module.ts
  src/assets/logo/patrocinium.png
Labels: content, type: improvement

#966 feat(): add docs on grpc streaming
  content/microservices/grpc.md
Labels: content
