Repository nestjs/docs.nestjs.com, pull requests merged in 2020-07, with the labels that each got.

#1323 feat(): Add sortSchema property
  content/graphql/quick-start.md
Labels: content

#1172 docs(sql): separating entity definition
  content/techniques/sql.md
Labels: content

#1257 doc(config): add generic type explanation to config service
  content/techniques/configuration.md
Labels: content, type: improvement

#1112 docs: add NestHybridApplicationOptions documentation
  content/faq/hybrid-application.md
  content/guards.md
Labels: content, type: feature docs
