Repository nestjs/docs.nestjs.com, pull requests merged in 2020-11, with the labels that each got.

#1489 docs(gateways): add warning about wsresponse serialization
  content/websockets/gateways.md
Labels: content

#1486 fix: add missing core files in First Steps section
  content/first-steps.md
Labels: content

#1457 Add HMR note for @nestjs/typeorm
  content/recipes/hot-reload.md
Labels: content, enhancement

#1475 Mongoose @Prop decorator ref example
  CONTRIBUTING.md
  content/techniques/mongo.md
Labels: content

#1423 feat(techniques): Add ConfigService Hint Description
  content/techniques/configuration.md
Labels: content

#1420 feat(content/fundamentals): Use TypeScript Enums as token values
  content/fundamentals/dependency-injection.md
Labels: content

#1414 docs(fundamentals/unit-testing): Add hint for Fastify configuration for E2E testing
  content/fundamentals/unit-testing.md
Labels: content

#1411 docs(redis): update Redis microservice option with client options
  content/microservices/redis.md
Labels: content

#1529 Added synchronize warning in database docs
  content/recipes/sql-typeorm.md
  content/techniques/sql.md
Labels: content

#1458 Update circular-dependency.md
  content/fundamentals/circular-dependency.md
Labels: content, enhancement

#1482 mention another way to consume OpenAPIObject document
  content/openapi/introduction.md
Labels: content

#1416 docs(graphql): Complexity on Query and Mutation
  content/graphql/complexity.md
Labels: content

#1246 docs(microservices): add instruction to use transport in MessagePattern
  content/faq/hybrid-application.md
Labels: content

#1351 docs(microservices) clarify applicability of @MessagePattern decorator
  content/microservices/basics.md
Labels: content

#1258 docs(microservices) add microservices-timeout page
  content/microservices/basics.md
Labels: content

#1213 Docs: code-first federation
  content/graphql/federation.md
Labels: content, type: feature docs

#1525 Update introduction.md
  content/openapi/introduction.md
Labels: content

#1178 docs(@nestjs/serve-static) update serve-static module description
  content/recipes/serve-static.md
Labels: content, type: improvement

#1479 Multiple database connections using getConnectionToken
  content/techniques/mongo.md
  content/techniques/sql.md
Labels: content

#1386 docs(microservices): add gRPC Metadata examples
  content/microservices/grpc.md
Labels: content

#1387 doc(sse): Document sse feature
  content/techniques/server-sent-events.md
Labels: content

#1247 docs(): add Swagger document options section to Swagger docs
  content/openapi/introduction.md
Labels: content

#1484 docs(plugins) ts-jest integration docs for graphql and swagger
  content/graphql/cli-plugin.md
  content/openapi/cli-plugin.md
Labels: content, type: improvement

#1376 docs(openapi): add generics api response to openapi other features
  content/openapi/operations.md
Labels: content

#1552 docs(mongo): add mongoose discriminator document
  content/techniques/mongo.md
Labels: content

#1534 docs(config): Add documentation for validate function
  content/techniques/configuration.md
Labels: content, status: blocked

#1558 docs(queue): separate processor process
  content/techniques/queues.md
Labels: content, type: example

#1402 docs(errors): adds docs for some common errors
  content/faq/errors.md
  src/app/homepage/menu/menu.component.ts
  src/app/homepage/pages/faq/errors/errors.component.ts
  src/app/homepage/pages/faq/faq.module.ts
Labels: content

#1573 docs(): add instructions on how to use custom scalar type mappings
  content/graphql/scalars.md
Labels: content
