Repository nestjs/docs.nestjs.com, pull requests merged in 2021-08, with the labels that each got.

#1702 docs(microservice): add documentation for new custom client proxy
  content/microservices/custom-transport.md
Labels: content, status: wip

#1347 docs(cli): added pnpm to cli usages page
  content/cli/usages.md
Labels: content, status: blocked

#1821 docs(database): add documentation for MikroORM integration
  content/recipes/mikroorm.md
  content/techniques/sql.md
  src/app/homepage/menu/menu.component.ts
  src/app/homepage/pages/recipes/mikroorm/mikroorm.component.ts
  src/app/homepage/pages/recipes/recipes.module.ts
Labels: content
