Repository nestjs/docs.nestjs.com, pull requests merged in 2021-02, with the labels that each got.

#1703 Update cors.md
  content/security/cors.md
Labels: content

#1766 docs(testing): fix wrong documentation for fastify e2e tests
  content/fundamentals/unit-testing.md
Labels: content

#1729 docs(security): add info about CorsOptionsDelegate
  content/security/cors.md
Labels: content

#1633 docs(fundamentals): updates testing to explain new setLogger method
  content/fundamentals/unit-testing.md
Labels: content, status: blocked

#1645 docs(openapi): add more docs for swagger setup method
  content/openapi/introduction.md
Labels: content, status: wip

#1794 docs: specify which nodeJs versions are supported (i.e. stable LTS)
  content/first-steps.md
Labels: content

#1607 docs(queues): added JOB_REF provider
  content/techniques/queues.md
Labels: content

#1777 docs(microservices): updated documented grpc sample
  content/microservices/grpc.md
Labels: content

#1370 docs(throttle): first draft of docs for the throttler module
  content/security/rate-limiting.md
Labels: content

#1245 feat: update grpc docs
  content/microservices/grpc.md
Labels: content, status: blocked
